footer{
    position: relative;
    overflow-x: hidden;
    padding-bottom: 5px;
    @media (min-width: 640px){
        padding-bottom: 40px;
    }
    @media (min-width: 1050px){
        padding-bottom: 60px;
    }
    @media (min-width: 750px){
        .grid_giver{
            .grid_receiver{
                position: relative;
            }
        }
    }
    .row_1{
        padding: 80px 0;
        form{
            @media (min-width: 640px) and (max-width: 825px){
                display: grid;
                grid-template-columns: 1fr max-content;
            }
            label{
                width: 100%;
                @media (min-width: 640px){
                    width: 100%;
                    max-width: 550px;
                }
            }
        }
        h2 + p{
            max-width: 420px;
        }
        @media (min-width: 640px){
            padding: 100px 0;
        }
        @media (min-width: 1050px){
            padding: 200px 0 120px 0;
        }
    }
    .row_2{
        display: flex;
        justify-content: center;
        align-items: center;
        .footernav{
            ul{
                display: flex;
                list-style: none;
                gap: 20px;
            }
        }
        @media (min-width: 640px){
            justify-content: start;
        }
    }
    img.sticker{
        position: absolute;
        right: 0;
        width: 160px;
        bottom: 80px;
        rotate: 21deg;
        z-index: -1;
        @media (min-width: 640px){
            bottom: 192px;
        }
        @media (min-width: 640px) and (max-width: 750px){
            bottom: 260px !important;
        }
        @media (min-width: 825px){
            width: 195px;
        }
    }
}