footer{
    .row_1{
        padding: 80px 0;
    }
    .row_2{
        display: flex;
        justify-content: center;
        align-items: center;
        .footernav{
            ul{
                display: flex;
                list-style: none;
                gap: 20px;
            }
        }
    }
}