
.grid_giver {
    margin: 0 0 1.25rem 0;
    display: grid;
    grid-template-columns: minmax(0.8888rem, 1fr) minmax(0, 1320px) minmax(0.8888rem, 1fr);
    @media (min-width: 600px){
        grid-template-columns: minmax(3.75rem, 1fr) minmax(0, 1320px) minmax(3.75rem, 1fr); 
    }
}
.grid_receiver {
    grid-column: 2 / 2; /* make this the second column - > see line 61 */
}

main{
    margin-top: 115px;
}
.m-both{
    margin: 32px 0;
}
.mb{
    margin-bottom: 25px;
}
