section.carousel{
    margin: 60px 0 0 0;
    position: relative;
    .carousel_arrows{
        list-style: none;
        position: absolute;
        height: fit-content;
        top: 50%;
        left: 0;
        width: 100%;
        translate: 0 -50%;
        z-index: 11;
        li{
            button{
                cursor: pointer;
                appearance: none;
                border: 0;
                width: 66px;
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                border: 0;
                background: inherit;
                appearance: none;
                @media (min-width: 600px){
                    width: 130px;
                }
                svg{
                    width: 66px;
                    path:first-child{
                        fill: var(--color_accent)
                    }
                    
                    @media (min-width: 600px){
                        width: 130px;
                    }
                }
                &.arrow_prev_btn{
                    transform: scale(-1,1);
                    left: 0;
                }
                &.arrow_next_btn{
                    right: 0;
                }
                &:hover, &:focus, &:active{
                    svg{  
                        path:first-child{
                            fill: var(--green);
                        } 
                    }
                }
                &.scrolling{
                    &.arrow_prev_btn{
                        animation: scaleChangeReverse 0.5s linear;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                    &.arrow_next_btn{
                        animation: scaleChange 0.5s linear;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                    svg{
                        path:first-child{
                            fill: var(--arrowSlideclr);
                            animation: colorChange 0.5s linear;
                            animation-iteration-count: 1;
                            animation-fill-mode: forwards;
                        }
                    }
                }
            }
        }
        @media (min-width: 600px){
            width: calc(100% + 80px);
            translate: -40px -50%;
        }
        @media (min-width: 1250px){
            width: 100%;
            translate: 0 -50%;
        }
        
    }
    .carousel_slides{
        list-style: none;
        width: calc(100% + 1.7776rem);
        margin-left: -0.8888rem;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;  /* Firefox */
        z-index: 10;

        /* test */
        max-width: 790px;
        

        .carousel_slide{
            width: 100vw;
            max-width: 100%;
            scroll-snap-align: center;
            min-width: 100%;
            display: flex;
            justify-content: center;
            figure{
                display: grid;
                width: 100vw;
                max-width: 100%;
                width: 100vw;
                max-width: 780px;
                img{
                    width: 100vw;
                    max-width: 100%;
                    object-fit: cover;
                    max-height: 80vh;
                }
                figcaption{
                    padding: 0 0.8888rem;
                    width: calc(100% - 0.8888rem);
                    @media (min-width: 600px){
                        width: 100%;
                    }
                }
            }  
        }
        @media (min-width: 600px){
            width: 100%;
            margin-left: auto;
            margin: 0 auto;
        }
        
        &.scrolling{
            animation: scaleChangeSmaller 0.5s linear;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
       
    }
    .carousel_slides::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    @media (min-width: 1050px){
        margin: 120px 0 0 0;
    }
}

@property --arrowSlideclr {
    syntax:"<color>";
    inherits:true;
    initial-value: var(--green);
}

@keyframes colorChange {
    0% {
        --arrowSlideclr: var(--green);
    }
    50%{
        --arrowSlideclr: var(--pink);
    }
    100% {
        --arrowSlideclr: var(--green);
    }
}
@keyframes scaleChange {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scaleChangeSmaller {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scaleChangeReverse {
    0% {
        transform: scale(-1,1);
    }
    50%{
        transform: scale(-1.1,1.1);
    }
    100% {
        transform: scale(-1,1);
    }
}
