section.carrousel{
    margin: 60px 0 0 0;
    position: relative;
    .carrousel_arrows{
        list-style: none;
        position: absolute;
        height: fit-content;
        top: 50%;
        left: 0;
        width: 100%;
        translate: 0 -50%;
        li{
            button{
                appearance: none;
                border: 0;
                svg{
                    width: 66px;
                    position: absolute;
                    top: 50%;
                    translate: 0 -50%;
                    path:first-child{
                        fill: var(--color_accent)
                    }
                    
                    &.arrow_prev{
                        transform: scale(-1,1);
                        left: 0;
                    }
                    &.arrow_next{
                        right: 0;
                    }
                    @media (min-width: 600px){
                        width: 130px;
                    }
                }
            }
        }
        @media (min-width: 600px){
            width: calc(100% + 80px);
            translate: -40px -50%;
        }
        @media (min-width: 1250px){
            width: 100%;
            translate: 0 -50%;
        }
        
    }
    .carrousel_slides{
        list-style: none;
        width: calc(100% + 1.7776rem);
        margin-left: -0.8888rem;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;  /* Firefox */
        
        .carrousel_slide{
            width: 100vw;
            max-width: 100%;
            scroll-snap-align: center;
            min-width: 100%;
            display: flex;
            justify-content: center;
            figure{
                display: grid;
                width: 100vw;
                max-width: 100%;
                width: 100vw;
                max-width: 780px;
                img{
                    width: 100vw;
                    max-width: 100%;
                }
                figcaption{
                    padding: 0 0.8888rem;
                    width: calc(100% - 0.8888rem);
                    @media (min-width: 600px){
                        width: 100%;
                    }
                }
            }  
        }
        @media (min-width: 600px){
            width: 100%;
            margin-left: unset;
        }
       
    }
    .carrousel_slides::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    @media (min-width: 1050px){
        margin: 120px 0 0 0;
    }
}