figure.intro_images{
    text-align: center;
    padding-bottom: 106px;
    position: relative;
    overflow: hidden;
    img,svg{
        &.logo_bandb{
            width: 100%;
            max-width: 556px;
            margin: 0 auto;
            animation-name: rotate-bnb;
            animation-iteration-count: infinite;
            animation-duration: 5s;
            animation-timing-function: linear;
            &:hover{
                -webkit-animation-play-state: paused;
                -moz-animation-play-state: paused;
                -o-animation-play-state: paused;
                animation-play-state: paused;
            }
        }
        &.sticker{
            position: absolute;
            left: 0;
            rotate: 19deg;
            width: 153px;
            bottom :63px
        }
    }
}

@keyframes rotate-bnb {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}