blockquote.quote{
    padding-top: 95px;
    padding-bottom: 60px;
    position: relative;
    .quote_sign{
        font-size: 94px;
        height: 50px;
        top: 24px;
        position: absolute;
    }
    &:after{
        content: '“';
        font-family: var(--font_magic), Verdana, sans-serif !important;
        color: var(--color_accent) !important;
        position: absolute;
        font-size: 94px;
        height: 50px;
        top: 24px;
        @media (min-width: 640px){
            top: 0;
            left: 0;
            translate: 0 -18px;
            height: 60px;
            font-size: 120px;
        }
    }
    .h3{
        font-family: var(--font_light), Verdana, sans-serif;
        font-weight: 300 !important;
        margin-bottom: 24px;
    }
    @media (min-width: 640px){
        padding-top: 0;
        margin-top: 80px;
        padding-bottom: 80px;
        padding-left: 66px;
    }
    @media (min-width: 1050px){
        margin-top: 120px;
        padding-bottom: 120px;
    }
}